@using SheilaWard_CFBlog.Models
@using SheilaWard_CFBlog.Helpers
@using Microsoft.AspNet.Identity
@model SheilaWard_CFBlog.ViewModels.DetailVM


@{
    ViewBag.Title = "Details";
}


    <div class="section-title">
        <h1 class="section-heading">Blog Details</h1>
        <h2 class="section-subheading-nobg">@Model.blogPost.Title</h2>
    </div>

    <div class="row blog">
        <div class="col-md-8">
            <div class="panel">
                <div class="panel-body">
                    <h1 class="text-center mtop35"><a href="#">@Model.blogPost.Abstract</a></h1>
                    <p class="text-center auth-row">
                        By Sheila Ward | @Model.blogPost.Created.ToString("MM/dd/yyyy") | @Model.blogPost.Comments.Count comments
                    </p>

                    @if (Model.blogPost.MediaURL == null)
                    {
                        <div class="blog-img-wide">
                            <img class="img-responsive" src="~/Content/defaultImage.jpg" alt="" />
                        </div>
                    }
                    else
                    {
                        <div class="blog-img-wide">
                            <img class="img-responsive" src="@Model.blogPost.MediaURL" alt="" />
                        </div>
                    }

                    <p>
                        @Html.Raw(Model.blogPost.Body)
                    </p>

                    @if (ViewContext.HttpContext.User.IsInRole("Admin"))
                    {

                        <div class="btn-toolbar">
                            @Html.ActionLink("Update", "Edit", "BlogPosts", new { slug = Model.blogPost.Slug }, new { @class = "btn btn-share" })
                            @Html.ActionLink("Delete", "Delete", "BlogPosts", new { slug = Model.blogPost.Slug }, new { @class = "btn btn-share" })
                        </div>

                    }

                    @*<div class="blog-tags">
                        TAGS <a href="#">photoshop</a><a href="#">illustrator</a><a href="#">adobe</a><a href="#">theme</a>
                        <div class="pull-right tag-social">
                            <a href="#" class="btn btn-share pull-right">Share</a>
                            <ul class="pull-right">
                                <li>
                                    <a href="#">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>*@

                </div>
            </div>
            <div class="panel">
                <div class="panel-body">
                    <h1 class="text-center cmnt-head">@Model.blogPost.Comments.Count Comment(s)</h1>
                   @foreach (Comment comment in Model.blogPost.Comments.OrderByDescending(c => c.Created))
                    {
                        <div class="media blog-cmnt">
                            <a href="javascript:;" class="pull-left">
                                <img alt="" src="img/blog/blog-avatar-2.jpg" class="media-object">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">
                                    @comment.Author.DisplayName
                                </h4>
                                <div class="bl-status">
                                    <span class="pull-left">
                                        @comment.Created.ToString("M/d/yyyy - h:mmtt")
                                    </span>
                                </div>
                                <p class="mp-less">
                                    @comment.CommentBody
                                </p>
                                @if ((comment.AuthorId == User.Identity.GetUserId() && comment.UpdateReason == null) || User.IsInRole("Moderator") || User.IsInRole("Admin"))
                                {
                                    <br />
                                    @Html.ActionLink("Edit", "Edit", "Comments", new { id = comment.Id }, new { @class = "btn btn-small btn-share" })
                                    <span>&emsp;</span>
                                    @Html.ActionLink("Delete", "Delete", "Comments", new { id = comment.Id }, new { @class = "btn btn-small btn-share" })
                                }
                                
                            </div>
                        </div>
                        <hr/>
                    }
                    <!-- Only see this if you are logged in -->
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div class="panel">
                            <div class="panel-body">
                                @using (Html.BeginForm("Create", "Comments", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.Hidden("BlogPostId", Model.blogPost.Id)  // Maybe shouldn't put this in here... can create a vulnerability
                                    @Html.HiddenFor(model => model.blogPost.Slug)
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h1 class="text-center cmnt-head ">Leave a Comment</h1>
                                            @Html.TextArea("CommentBody", new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <br />
                                    <div>
                                        <button class="btn btn-share pull-right" type="submit" value="Post">Add Comment</button>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="panel">
                            <div class="panel-body">
                                @Html.ActionLink("Please login to make comments", "Login", "Account")
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel">

                @using (Html.BeginForm("Index", "BlogPosts", FormMethod.Get, htmlAttributes: new { @class = "form" }))
                {
                    <div class="panel-body">
                        <input type="text" placeholder="Search Blog" name="searchStr" id="searchStr" class="form-control blog-search">
                        <button name="searchStr" id="searchStr" class="btn btn-search"><i class="fa fa-search"></i></button>
                    </div>
                }


            </div>

            @Html.Partial("_RecentBlogPostsPartial", DataUtilities.GetBlogPosts())

            @*<div class="panel">
            <div class="panel-body">
                <div class="blog-post">
                    <h3>Latest Blog Posts</h3>
                    <div>
                        @foreach (var item in Model.recentPosts)
                        {
                            <div class="media">
                                @if (item.MediaURL == null)
                                {
                                    <a href="javascript:;" class="pull-left">
                                        <img style="width:120px;" src="~/Content/defaultImage.jpg" alt="" />
                                    </a>
                                }
                                else
                                {
                                    <a href="javascript:;" class="pull-left">
                                        <img style="width:120px;" src="@item.MediaURL" alt="" />
                                    </a>
                                }
                                <div class="media-body">
                                    <h5 class="media-heading">@item.Created.ToString("MM/dd/yyyy")</h5>
                                    <p style="color:#837f7e; line-height:1em;">@Html.ActionLink(item.Title, "Details", new { slug = item.Slug })</p>

                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>*@

            @Html.Partial("_RecentCommentsPartial", DataUtilities.GetComments())

            @*<div class="panel">
            <div class="panel-body">
                <div class="blog-post">
                    <h3>recent comments</h3>
                    <ul>
                        @foreach (var item in Model.recentComments)
                        {
                            <li style="line-height:1em;">
                                <span><i class=" fa fa-comments-o"></i>@item.BlogPost.Title &emsp; @item.BlogPost.Created.ToString("MM/dd/yyyy")</span>
                                <div style="padding: 5px 0 5px 30px;">@Html.ActionLink(item.CommentBody, "Details", new { slug = item.BlogPost.Slug })</div>
                            </li>
                            <li>&nbsp;</li>
                        }
                    </ul>
                </div>
            </div>
        </div>*@

            <div class="panel">
                <div class="panel-body">
                    <div class="blog-post">
                        <h3>blog archive</h3>
                        <ul>
                            <li><a href="javascript:;"><i class=" fa fa-angle-right"></i> May 2013</a></li>
                            <li><a href="javascript:;"><i class=" fa fa-angle-right"></i> April 2013</a></li>
                            <li><a href="javascript:;"><i class=" fa fa-angle-right"></i> March 2013</a></li>
                            <li><a href="javascript:;"><i class=" fa fa-angle-right"></i> February 2013</a></li>
                            <li><a href="javascript:;"><i class=" fa fa-angle-right"></i> January 2013</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

