@using SheilaWard_CFBlog.Models
@using Microsoft.AspNet.Identity
@model BlogPost


@{
    ViewBag.Title = "Details";
}

<div class="blog-section">
    <div class="section-title">
        <h1 class="section-heading">Blog Details</h1>
        <h2 class="section-subheading-nobg">@Model.Title</h2>
    </div>
    <div class="row blog">
        <div class="col-md-8">
            <div class="panel">
                <div class="panel-body">
                    <h1 class="text-center mtop35"><a href="#">@Model.Abstract</a></h1>
                    <p class="text-center auth-row">
                        By Sheila Ward | @Model.Created.ToString("MM/dd/yyyy") | @Model.Comments.Count comments
                    </p>

                    @if (Model.MediaURL == null)
                    {
                        <div class="blog-img-wide">
                            <img class="img-responsive" src="~/Content/defaultImage.jpg" alt="" />
                        </div>
                    }
                    else
                    {
                        <div class="blog-img-wide">
                            <img class="img-responsive" src="@Model.MediaURL" alt="" />
                        </div>
                    }

                    <p>
                        @Html.Raw(Model.Body)
                    </p>

                    @if (ViewContext.HttpContext.User.IsInRole("Admin"))
                    {

                        <div class="btn-toolbar">
                            @Html.ActionLink("Update", "Edit", "BlogPosts", new { slug = Model.Slug }, new { @class = "btn btn-share" })
                            @Html.ActionLink("Delete", "Delete", "BlogPosts", new { id = Model.Id }, new { @class = "btn btn-share" })
                        </div>

                    }

                    <div class="blog-tags">
                        TAGS <a href="#">photoshop</a><a href="#">illustrator</a><a href="#">adobe</a><a href="#">theme</a>
                        <div class="pull-right tag-social">
                            <a href="#" class="btn btn-share pull-right">Share</a>
                            <ul class="pull-right">
                                <li>
                                    <a href="#">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel">
                <div class="panel-body">
                    <h1 class="text-center cmnt-head">@Model.Comments.Count Comment(s)</h1>
                   @foreach (Comment comment in Model.Comments.OrderByDescending(c => c.Created))
                    {
                        <div class="media blog-cmnt">
                            <a href="javascript:;" class="pull-left">
                                <img alt="" src="img/blog/blog-avatar-2.jpg" class="media-object">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">
                                    @comment.Author.DisplayName
                                </h4>
                                <div class="bl-status">
                                    <span class="pull-left">
                                        @comment.Created.ToString("M/d/yyyy - h:mmtt")
                                    </span>
                                </div>
                                <p class="mp-less">
                                    @comment.CommentBody
                                </p>
                                @if (comment.AuthorId == User.Identity.GetUserId() || User.IsInRole("Moderator") || User.IsInRole("Admin"))
                                {
                                    <br/>
                                    @Html.ActionLink("Edit", "Edit", "Comments", new { id = comment.Id }, new { @class = "btn btn-small btn-share" })
                                }
                            </div>
                        </div>
                        <hr/>
                    }
                    <!-- Only see this if you are logged in -->
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div class="panel">
                            <div class="panel-body">
                                @using (Html.BeginForm("Create", "Comments", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.Hidden("BlogPostId", Model.Id)
                                    @Html.HiddenFor(model => model.Slug)
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h1 class="text-center cmnt-head ">Leave a Comment</h1>
                                            @Html.TextArea("CommentBody", new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <br />
                                    <div>
                                        <button class="btn btn-share pull-right" type="submit" value="Post">Add Comment</button>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="panel">
                            <div class="panel-body">
                                @Html.ActionLink("Please login to make comments", "Login", "Account")
                                @*<h3>Please login to make comments</h3>*@
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel">
                <div class="panel-body">
                    <input type="text" placeholder="Search Blog" class="form-control blog-search">
                    <button class="btn btn-search"><i class="fa fa-search"></i></button>
                </div>
            </div>
            <div class="panel">
                <div class="panel-body">
                    <div class="blog-post">
                        <h3>Latest Blog Post</h3>
                        <div class="media">
                            <a href="javascript:;" class="pull-left">
                                <img alt="" src="img/blog/blog-thumb-1.jpg">
                            </a>
                            <div class="media-body">
                                <h5 class="media-heading"><a href="javascript:;">02 May 2013 </a></h5>
                                <p>
                                    Donec id elit non mi porta gravida at eget metus amet int
                                </p>
                            </div>
                        </div>
                        <div class="media">
                            <a href="javascript:;" class="pull-left">
                                <img alt="" src="img/blog/blog-thumb-2.jpg">
                            </a>
                            <div class="media-body">
                                <h5 class="media-heading"><a href="javascript:;">02 May 2013 </a></h5>
                                <p>
                                    Donec id elit non mi porta gravida at eget metus amet int
                                </p>
                            </div>
                        </div>
                        <div class="media">
                            <a href="javascript:;" class="pull-left">
                                <img alt="" src="img/blog/blog-thumb-3.jpg">
                            </a>
                            <div class="media-body">
                                <h5 class="media-heading"><a href="javascript:;">02 May 2013 </a></h5>
                                <p>
                                    Donec id elit non mi porta gravida at eget metus amet int
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel">
                <div class="panel-body">
                    <div class="blog-post">
                        <h3>recent comments</h3>
                        <ul>
                            <li><a href="javascript:;"><i class=" fa fa-comments-o"></i> admin on Vestiblulum quis dolor </a></li>
                            <li><a href="javascript:;"><i class=" fa fa-comments-o"></i> admin on Nam sed arcu tellus</a></li>
                            <li><a href="javascript:;"><i class=" fa fa-comments-o"></i> monster002 on Fringilla ut vel ipsum </a></li>
                            <li><a href="javascript:;"><i class=" fa fa-comments-o"></i> admin on Vestiblulum quis dolor sit</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel">
                <div class="panel-body">
                    <div class="blog-post">
                        <h3>category</h3>
                        <ul>
                            <li><a href="javascript:;"><i class=" fa fa-angle-right"></i> Animals</a></li>
                            <li><a href="javascript:;"><i class=" fa fa-angle-right"></i> Landscape</a></li>
                            <li><a href="javascript:;"><i class=" fa fa-angle-right"></i> Portait</a></li>
                            <li><a href="javascript:;"><i class=" fa fa-angle-right"></i> Wild Life</a></li>
                            <li><a href="javascript:;"><i class=" fa fa-angle-right"></i> Video</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel">
                <div class="panel-body">
                    <div class="blog-post">
                        <h3>blog archive</h3>
                        <ul>
                            <li><a href="javascript:;"><i class=" fa fa-angle-right"></i> May 2013</a></li>
                            <li><a href="javascript:;"><i class=" fa fa-angle-right"></i> April 2013</a></li>
                            <li><a href="javascript:;"><i class=" fa fa-angle-right"></i> March 2013</a></li>
                            <li><a href="javascript:;"><i class=" fa fa-angle-right"></i> February 2013</a></li>
                            <li><a href="javascript:;"><i class=" fa fa-angle-right"></i> January 2013</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
